{% extends "layout-korona.njk" %}

{% block pageTitle %}Opatrenia pre pomoc zamestnancom, podnikateľom a živnostníkom{% endblock %}

{% block content %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">


          <h2 class="govuk-heading-l">
            Opatrenia pre pomoc zamestnancom, podnikateľom a živnostníkom
          </h2>

          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="/vyhladavac-upsvr-emailov/">Vyhľadávač emailovej adresy ÚPVSaR</a>
            </li>
          </ul>

          <span class="govuk-hint">
            Toto je dočasná stránka pre ekonomické opatrenia vlády v súvislosti s koronavírusom. Postupne sem budú pribúdať detailné informácie.
          </span>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
